@import "../../styles/colors";

.services-wrapper {
    display: flex;
    flex-direction: column;

    h1 {
        text-align: center;
    }
    .service-icons {
        width: 80%;
        max-width: 500px;
        margin: auto;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        margin-bottom: 4rem;

    }
        i {
            margin: 0.8rem;
            text-align: center;
            font-size: 1.99rem;
            color: $color6;
            
        }
            p {
                font-size: 0.8rem;
                color: $color5;
                margin-top: 1rem;
                letter-spacing: 0.2rem;
            }
}
