# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.env
# 
this file is used as a .env file for dbSeed, so don't want it in repo
scripts/heroku_mongodb_dot_env
# same as above for client
client/node_modules


# testing
/coverage

# production
client/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
desktop.ini

npm-debug.log*
yarn-debug.log*
yarn-error.log*
