@import "../../styles/colors";

.alertsWrapper {
  margin-left: 5%;
  margin-right: 5%;
  max-width: 600px; // same styling as News
}
.alertsHeader {
  margin-left: 4.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.alertsNewAlertButton {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: $aquamarine;
  color: $white;
  border: 2px solid $white;
  width: 100%;
  padding: 0.5rem 0.5rem;
  font-size: 1.2rem;
  font-weight: lighter;
  letter-spacing: 1px;
}

.alertsNewAlertButton:hover  {
  color: $aquamarine;
  background-color: $white;
  border: 2px solid $aquamarine;
}