@import "../../styles/colors";

.alertItemBox {
  display: flex;
  background-color: white;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 2px;
  box-shadow: 3px 3px 4px rgba(#000, 0.3);


}

.alertItemNotifier {
  width: 3%;
  height: auto;
  display: flex;
  justify-content: center;
  align-content: center;
}

// red stripe if alert is active
.alertItemActive {
  background-color: red;
  width: 0.2em;
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}

.alertItemEntryBox {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: space-around;
  width: 97%;
}

.alertItemBox1 {
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  width: 100%;
}
.alertItemTitle {
  font-weight: bold;
  width: 100%;
}

.alertItemUserName {
  width:50%;
}

.alertItemMsgBox {
  width: 100%;
}

.alertItemTimeRemaining {
  width: 50%;
  color: red;
}
.alertItemActiveBox{
  display: flex;
  justify-content: space-between;
  width: 100%;

}
