@import "../../styles/colors"

.dropdown-menu 
    position: absolute
    top: 100
    left: 
    z-index: 1000
    float: left
    min-width: 10rem
    padding: .5rem 0
    
    color: #212529
    text-align: left
    list-style: none
    background-color: $color6
    background-clip: padding-box
    border: 1px solid rgba(0,0,0,.15)
    border-radius: .25rem


li 
    list-style-type: none
    
    a
      font-size: 2rem
      font-weight: 900
      text-align: right
      
      i
        color: $color1
        margin-left: 5px
        padding: 5px
        background-color: $color6
#bars-menu
  background-color: $color1
  font-size: 3rem
  color: #FFF


#nav
  margin-left: 61%
  margin-bottom: 2%
  text-align: left