@import "../../styles/colors";

.photo-container{
    text-align: center;
    margin-top: 2rem;
}

.photo-wrapper {
    width: 90%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    margin: auto;
    color: white;
    margin-top: 3rem;
}
    .photo-box {
        margin: auto;
        max-width: 400px;
        display: flex;
        flex-direction: column;
    }
        .photo-img {
            border-radius: 20px;
            height: 300px;
            width: 300px;
        }
            a {
                font-size: 0.8rem;
            }

#comment-box {
    width: 80%;
    max-width: 600px;
    background-color: $color6;
}

#btn-upload{
    background-color: $aquamarine;
    color: $white;
    border: 2px solid $white;
    width: 50%;
    margin-top: 1rem;
    padding: 8px 0px;
    font-size: 1em;
    font-weight: lighter;
    letter-spacing: 1px;
    margin-bottom: 0.25em;
    margin:auto
}
