
@import "../../styles/colors";

.LoginFormBox {
  background-color: var(--bgColor1);
  color: var(--textColor1);
}

// box may contain different elements, so set a fixed height and center element


.LoginFormButton {
  background-color: var(--loginButton-bg);
  color: var(--loginButton-text);
}

.LoginSignupBox {
  display: flex;
  justify-content: center;
  align-content: center;
}

// this is a 0 height div that holds the alert, which is then placed with position absolute
// don't really need to set height, as has no content that takes up space
.alertWrapper {
  height: 0px;
  display: flex;
  justify-content: center;

}
.alert {
  background-color: var(--bgPopup);
  color: var(--textColor2);
  border-style: solid;
  border-radius: 15px;
  border-color:var(--popupBorderColor);
  border-width:2px;
  box-shadow: 6px 6px 3px var(--boxShadowColor);
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 30%;
}
.alert:hover {
  text-decoration: none;
}
// need these to fix the * rule earlier, can't seem to override bootstrap styles,
// as css-modules uniquifies every class
.alertH2 {
  background-color: var(--bgPopup);
}
.alertContainer {
  background-color: var(--bgPopup);
  min-height: auto;
}
.alertRow {
  background-color: var(--bgPopup);
  display: flex;
  justify-content: center;
}

.alertButton {
  background-color: var(--bgColor1);
  color: var(--textColor1);
  border-style: solid;
  border-radius: 7px;
  border-color:var(--bgColor1-d6);
  border-width: 2px;
  box-shadow: 3px 3px 3px var(--boxShadowColor);
  margin-bottom: 0.5rem;

}




// form{
//     width: 90%;
//     margin: auto;
    
// }

label{
  font-size: 1em;
  margin-bottom: 0.25em;
  color: #222;
  font-weight: lighter;
  padding: 10px 10px;
  border-radius: 5px;
  
}
        
// input{ 
//     
//   }

  input {
    
    &[type=text], &[type=password], &[type=email] {
      &:focus {
        border: 3px solid $color6;
        transition: 100ms linear;
      }
    }
  }

  

        // input::placeholder 
        //     font-size: 1em
        //     font-weight: lighter
        //     color: $color4
        // input.error 
        //     border: 1px solid red