
@import "../../styles/colors";

.loginWrapper{
  h1{
    letter-spacing: 0.5rem;
  }
  .formWrapper{
    width: 90%;
    max-width: 400px;
    padding: 10px 20px
  }
  .alerts{
    .wrong{
    color: red;
    font-size: 0.8rem;
    text-align: center;
    
    }
    
    
  }
  .newAccountWrapper{
    a{
      color: #000;
      font-size: 1rem
    }
  }
    

  

}

// button pasted from elsewhere
.loginButton {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: $aquamarine;
  color: $white;
  border: 2px solid $white;
  width: 100%;
  padding: 0.5rem 0.5rem;
  font-size: 1.2rem;
  font-weight: lighter;
  letter-spacing: 1px;
  
}

.loginButton:hover  {
  color: $aquamarine;
  background-color: $white;
  border: 2px solid $aquamarine;
}





// this is a 0 height div that holds the alert, which is then placed with position absolute
// don't really need to set height, as has no content that takes up space
.alertWrapper {
  height: 0px;
  display: flex;
  justify-content: center;

}
.alert {
  background-color: var(--bgPopup);
  color: var(--textColor2);
  border-style: solid;
  border-radius: 15px;
  border-color:var(--popupBorderColor);
  border-width:2px;
  box-shadow: 6px 6px 3px var(--boxShadowColor);
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 30%;
}
.alert:hover {
  text-decoration: none;
}

  
// }
// .newAccountLink {
//   width: 100%;
// }

// label{
//   font-size: 1em;
//   margin-bottom: 0.25em;
//   color: #222;
//   font-weight: lighter;
//   padding: 10px 10px;
//   border-radius: 5px;
  
// }
        

// input {
  
//   &[type=text], &[type=password], &[type=email] {
//     &:focus {
//       border: 3px solid $color6;
//       transition: 100ms linear;
//     }
//   }
// }

