/* Colors */

/* HSL */
$color1: hsla(84%, 51%, 47%, 1);
$color2: hsla(0%, 0%, 9%, 1);
$color3: hsla(180%, 2%, 45%, 1);
$color4: hsla(0%, 0%, 33%, 1);
$color5: hsla(90%, 23%, 17%, 1);

/* RGB */
$color1: rgba(133, 183, 59, 1);
$color2: rgba(22, 22, 22, 1);
$color3: rgba(113, 117, 117, 1);
$color4: rgba(83, 83, 83, 1);
$color5: rgba(43, 53, 33, 1);

// darken/lighten 

$color1-d1: scale-color($color1, $lightness: -10%);
$color1-d2: scale-color($color1, $lightness: -20%);
$color1-d3: scale-color($color1, $lightness: -30%);

$color1-l1: scale-color($color1, $lightness: +10%);
$color1-l2: scale-color($color1, $lightness: +20%);
