/* Coolors Exported Palette - coolors.co/85b73b-161616-717575-535353-2b3521 */

/* HSL */
$color1: hsla(84%, 51%, 47%, 1);
$color2: hsla(0%, 0%, 9%, 1);
$color3: hsla(180%, 2%, 45%, 1);
$color4: hsla(0%, 0%, 33%, 1);
$color5: hsla(90%, 23%, 17%, 1);

/* RGB */
$color1: rgba(133, 183, 59, 1);
$color2: rgba(22, 22, 22, 1);
$color3: rgba(113, 117, 117, 1);
$color4: rgba(83, 83, 83, 1);
$color5: rgba(43, 53, 33, 1);