// global style definitions

/* Theme definitions */

/* light theme */
body.lightTheme {
  --boxShadowColor : rgb(156, 156, 156);
  --modalShadowColor : rgb(59, 57, 57);
  --bodyBackgroundColor: gray;
  --navButton-bg: #044d04;
  --navButton-text: white;
}
body
.themeB {
  --boxShadowColor : transparent;
  --modalShadowColor : transparent;
  --bodyBackgroundColor: rgb(43, 42, 42);
  --navButton-bg: rgb(0, 68, 255);
  --navButton-text: white;
}