/* Theme definitions */
@import "colors";

/* light theme */
body.lightTheme {
  --bgColor1 : #{$color1};
  --bgColor1-d1: #{$color1-d1};
  --bgColor1-d2: #{$color1-d2};
  --bgColor1-l2: #{$color1-l2};
  --textColor1: black;
  --textColor2: #{$basicTextColor};
  --bgPopup: #{$color6};
  --popupBorderColor: rgba(0,0,0,0.5);
  --loginButton-bg: #{$color1-l2};
  --loginButton-text: black;
  --boxShadowColor : rgb(62, 94, 69);
  --modalShadowColor : rgb(59, 57, 57);
  --bodyBackgroundColor: gray;
  --navButton-bg: #044d04;
  --navButton-text: white;
}

/* Dark theme */
body.darkTheme {
  --bgColor1 : #{$color1};
  --boxShadowColor : transparent;
  --modalShadowColor : transparent;
  --bodyBackgroundColor: rgb(43, 42, 42);
  --navButton-bg: rgb(0, 68, 255);
  --navButton-text: white;
}